<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">


        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>This is Awesome</h1>
                <p>Welcome to templating using EJS</p>
                <form id="myForm">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" required> 
                    <br>
                    <label for="age">Age:   </label>
                    <input type="number" id="age" name="age" required>

                    <button name='button' type="button" onclick="postData()">Click Me!</button>
                </form>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <script src="/public/javascript/post.js"></script>
    </body>
</html>